//Navbar
#a-nav {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
#logo-white, #logo-black {
  width: 98px;
  height: auto;
}
@media (max-width: 767px) {
  #a-nav-right-collapse {
    background-color: gray;
    text-align: center;
  }
}
@media (min-width: 768px) {
  #logo-white, #logo-black {
    width: 183px;
    height: auto;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  #a-nav-container {
    margin: 0;
    padding: 0 11px;
    width: calc(100%);
  }
}
///Navbar Minimized
#a-nav-toggle-minimize button {
  border: none;
}
#a-nav-toggle-minimize button span.icon-bar {
  background-color: rgb(2, 189, 174);
}
///Navbar Right
#a-nav-right-font li a {
  font-size: 17px;
  margin: 17px 16px;
  padding: 8px;
  color: black;
  line-height: 14px;
  font-weight: 300;
}
#a-nav-right-font li a:hover {
  color: rgb(0, 197, 180);
}