//Global
#home-box-1, #home-box-2, #home-box-3, #home-box-4, #home-box-5 {
  text-align: center;
}
//Navbar
#home-nav {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
#logo-white, #logo-black {
  width: 98px;
  height: auto;
}
@media (max-width: 767px) {
  #home-nav-right-collapse {
    background-color: gray;
    text-align: center;
  }
}
@media (min-width: 768px) {
  #logo-white, #logo-black {
    width: 183px;
    height: auto;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  #home-nav-container {
    margin: 0;
    padding: 0 11px;
    width: calc(100%);
  }
}
///Navbar Minimized
#home-nav-toggle-minimize button {
  border: none;
}
#home-nav-toggle-minimize button span.icon-bar {
  background-color: rgb(2, 189, 174);
}
///Navbar Right
#home-nav-right-font li a {
  font-size: 17px;
  margin: 17px 16px;
  padding: 8px;
  color: white;
  line-height: 14px;
  font-weight: 300;
}
#home-nav-right-font li a:hover {
  color: rgb(0, 197, 180);
}
////Get Started Button
#nav-btn-gt {
  margin: 14px 16px;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 196, 180);
  border: 2px solid rgb(0, 196, 180);
  font-size: 14px;
  padding: 8px;
  line-height: 14px;
}
#nav-btn-gt:hover {
  background-color: rgb(0, 196, 180)!important;
  color: white;
}
//Home Box 1
#home-box-1 {
  background: asset-url("static_pages/background.jpg") center center no-repeat;
  height: 567px;
  background-size: cover;
}
///Box 1 Article
#box-1 {
  color: white;
  margin-top: 200px;
}
#box-1 h1 {
  font-size: 26px;
  line-height: 26px;
}
#box-1 p {
  font-size: 13px;
  line-height: 20px;
}
@media (min-width: 768px) {
  #home-box-1 {
    height: 650px;
  }
  #box-1 h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
  }
  #box-1 p {
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 1px;
  }
}
///Home Box 1 Content
#home-box-1-content {
  margin-top: 200px;
}
.home-box-1-font {
  color: white;
}
///Schedule Free Pickup Button
#pickup-btn {
  color: black;
  background-color: rgb(247, 211, 63);
  margin-top: 20px;
}
//Home Box 2,3,4,5 global
#home-box-2 {
  padding: 70px 0;
}
#home-box-3, #home-box-4, #home-box-5 {
  padding: 0 0 70px 0;
}
.fonting h1 {
  font-size: 19px!important;
  font-weight: bold!important;
  line-height: 19px!important;
}
.fonting h2 {
  font-size: 17px!important;
  font-weight: bold!important;
  line-height: 17px!important;
}
@media (min-width: 768px) {
  .fonting h1 {
    font-size: 36px!important;
    font-weight: bold!important;
    line-height: 36px!important;
  }
  .fonting h2 {
    font-size: 22px!important;
    font-weight: bold!important;
    line-height: 22px!important;
  }
}
//Home Box 2
.hiw-border {
  padding: 25px 0;
  border-bottom: 1px solid rgb(232, 233, 234);
}
///Title
.title-underline {
  width: 88px;
  height: 3px;
  position: relative;
  top: -10px;
}
@media (min-width: 768px) {
  .title-underline {
    width: 208px;
    height: 5px;
    position: relative;
    top: -10px;
  }
}
///IMG
.hiw-img {
  width: 185px;
  height: auto;
}
@media (min-width: 768px) {
  .hiw-img {
    width: 302px;
  }
}
//Home Box 3
.mo-img {
  width: 260px!important;
  height: auto;
}
#mo-article {
  text-align: center;
}
@media (min-width: 768px) {
  .mo-img {
    width: calc(100% - 250px)!important;
    min-width: 260px;
    max-width: 500px;
  }
  #mo-article {
    text-align: left;
    max-width: 238px;
  }
}
.mo-padding {
  padding: 25px;
}
//Home Box 4
#home-box-4 {
  background: asset-url("static_pages/background5.jpg") center center no-repeat;
  height: 550px;
  color: white;
}
@media (min-width: 768px) {
  #home-box-4 {
    height: 473px;
  }
}
.s-padding {
  padding: 25px;
}
///IMG
.security-item {
  width: 68px;
  height: auto;
}
@media (min-width: 768px) {
  .security-item {
    width: 130px;
    height: auto;
  }
}
///Article
#home-box-4 h2 {
  color: rgb(247, 211, 63);
}
#home-box-4 p {
  font-size: 12px;
}
@media (min-width: 768px) {
  #home-box-4 p {
    font-size: 14px;
  }
}
//Home Box 5
.p-padding {
  padding: 25px;
}
#home-box-5 li {
  list-style-type: none;
  border-bottom: 1px solid rgb(200, 200, 200)
}
#home-box-5 p {
  margin: 5px 0;
}
#pricingbox {
  width: 266px;
  height: auto;
}
@media (min-width: 768px) {
  #home-box-5 li {
    text-align: left;
  }
  #pricingbox {
    width: 362px;
    height: auto;
  }
}
.sign-up-input {
  display: block;
}
.sign-in-input {
  display: block;
}
@media (min-width: 768px) {
  .sign-up-input {
    display: inline;
  }
  .sign-in-input {
    display: inline;
  }
}
