//Section 1
#section-1 {
    margin-top: 100px;
}
#delivery-address-table {
    height: 193px;
    overflow: scroll;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
#delivery-address-form-div label {
  width: 110px;
}
